* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(44, 44, 44);
  list-style: none;
}

body {
  height: 100vh;
  background-color: #ecede8;
}

header {
  background-color: #ecede8;
  backdrop-filter: blur(6px); /* subtle blur effect for background */
  -webkit-backdrop-filter: blur(6px); /* Safari support */
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1); /* soft blurred shadow */
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.navbar .nav-menu .nav-item a.active {
  color: #64876a;
}

.navbar {
  padding: 0.5em;
}

ul {
  display: flex;
  padding: 0.3em;
}

li {
  padding: 0.5em 4em;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: Tangerine, sans-serif;
  letter-spacing: 1px;
}

li:nth-child(1) a:hover {
  color: #64876a;
}

li:nth-child(2) a:hover {
  color: #64876a;
}
li:nth-child(3) a:hover {
  color: #64876a;
}

li:nth-child(1) a:active {
  color: #64876a;
}

li:nth-child(2) a:active {
  color: #64876a;
}
li:nth-child(3) a:active {
  color: #64876a;
}

@media (max-width: 415px) {
  body {
    height: 100dvh;
    background-color: #ecede8;
  }

  header {
    background-color: #ecede8;
    backdrop-filter: blur(8px); /* subtle blur effect for background */
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* soft blurred shadow */
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
  }

  .navbar {
    padding: 2px;
  }

  ul {
    display: flex;
  }

  li {
    padding: 0.5em 1em;
    font-size: 1rem;
    font-weight: 400;
    font-family: Tangerine, sans-serif;
    letter-spacing: 0.5px;
  }

  li:nth-child(1) a:active {
    color: #64876a;
  }

  li:nth-child(2) a:active {
    color: #64876a;
  }
  li:nth-child(3) a:active {
    color: #64876a;
  }
}
